{% extends "base.html.twig" %}

{% block title %}Home Page{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4f805d;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pari sportif</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <p>Bonjour, </p><p>et bienvenue sur notre site de pronostic.</p>

    <p>Sur ce site vous allez pouvoir faire des pronostics pour gagner des points</p>

    <p>et peut-être remporter le championnat !</p>

    <p>Veuillez créer un compte pour commencer les pronostics.</p>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <button class="btn btn-lg btn-primary" type="submit">
            Connexion
        </button>
    {% endif %}


{% endblock %}